!!!
%html
  %head
    %meta{content: "IE=edge", "http-equiv": "X-UA-Compatible"}
    %meta{charset: "utf-8"}
    %meta{content: "width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no", name: "viewport"}
    / BEGIN FAVICON
    / Remember to generate your favicon here: https://realfavicongenerator.net/
    / END FAVICON
    / Use title if it's in the page YAML frontmatter
    %title= current_page.data.title || "Tadka"
    = stylesheet_link_tag 'global', async: true
    = javascript_include_tag 'global-bundle', 'index-bundle', async: true
  %body{class: page_classes}
    = partial "partials/nav"
    %main{role: "main"}
      = yield
    = partial "partials/footer"
